[user]
  name = cat2koban
  email = cat2koban@users.noreply.github.com
	signingkey = B06E34830DE87629

[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[ghq]
  root = ~/ghq

[commit]
  gpgsign = true

[gpg]
  program = gpg

[alias]
  today = "!f () {\
               git log --oneline --reverse --branches \
               --since=midnight --date=iso \
               --author=\"$(git config user.name)\" \
               --format=\" - %C(auto)%h%Creset : %s %C(green)(%ad)%Creset\";\
           };f"
  yesterday = "!f () {\
               git log --oneline --reverse --branches \
               --since=yesterday --date=iso \
               --author=\"$(git config user.name)\" \
               --format=\" - %C(auto)%h%Creset : %s %C(green)(%ad)%Creset\";\
           };f"
